.leftNav {
  padding: 10px 10px 10px 30px;
}
.mainContent {
  /* height: 100vh; */
  margin: 10px;
}
.antlistitem {
  margin-top: 10px;
}
.antlistitem:hover {
  box-shadow: 0 0 4px rgba(177, 177, 177, 0.8);
}
