.leftNav {
  padding: 10px 10px 10px 30px;
}
.mainContent {
  height: 100vh;
  margin: 10px;
}
.listStyle {
  text-align: left;
  overflow: auto;
  height: 800px;
  cursor: pointer;
}
.spin {
  justify-content: center;
  padding-top: 50px;
  text-align: center;
}
.antlistitem {
  margin-top: 10px;
}
.antlistitem:hover {
  box-shadow: 0 0 4px rgb(207, 207, 207, 0.8);
}
